body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    background-color: #f5f5f5;
    color: #333;
}

header {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 25px 0;
}

header h1 {
    margin: 0;
    font-size: 28px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin-top: 10px;
}

nav ul li {
    display: inline-block;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

nav ul li a:hover {
    color: #00aaff;
}

.gambar-laut {
    background: url("void-dark-sentry-3840x2160-22438.jpg") center/cover no-repeat;
    height: 300px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gambar-laut .overlay {
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gambar-laut h2 {
    color: white;
    font-size: 28px;
    z-index: 1;
}

#tentang {
    background: white;
    padding: 60px 10%;
    text-align: center;
}

#tentang h2 {
    font-size: 24px;
    margin-bottom: 15px;
    color: #222;
}

#tentang p {
    max-width: 700px;
    margin: auto;
    line-height: 1.6;
    font-size: 15px;
}

#kisah {
    background-color: #eaeaea;
    padding: 60px 10%;
    text-align: center;
}

#kisah h2 {
    font-size: 24px;
    margin-bottom: 30px;
}

.kisah-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.kotak {
    background-color: #333;
    color: white;
    padding: 25px 45px;
    border-radius: 10px;
    font-weight: bold;
    transition: all 0.3s;
}

.kotak:hover {
    background-color: #00aaff;
    transform: translateY(-5px);
}

.kisah-text {
    max-width: 700px;
    margin: auto;
    color: #444;
    font-size: 15px;
    line-height: 1.6;
}

footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 20px 0;
    font-size: 14px;
}
